@import url("../../app/variables.css");

.navbar-container{
    box-sizing: border-box;
   background-color: var(--color-primario-oscurencio);
   width: 100%;
   height: 7rem;
   display: flex;
   overflow: hidden;
   align-items: center;
   justify-content: space-between;
}

.navbar-logo{
    box-sizing: border-box;
    width: 20rem;
}

.navbar-form{
    box-sizing: border-box;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: end;
    /* height: 100%; */
}

.navbar-form-input{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 100%;
    height: 2.3rem;
    padding: 1rem;
    
}

.navbar-form-submit{
    box-sizing: border-box;
    border: none;
    outline: none;
    background:none;
    width: 2.3rem;
    height: 2.3rem;
    position: relative;
    right: 2.5rem;
}

.navbar-form-submit-icon{
    width: 100%;
    height: 100%;
}