.searchbar-container{
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}
.navbar-form{
    box-sizing: border-box;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 100%; */
}

.navbar-form-input{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 100%;
    height: 2.3rem;
    padding: 1rem;
    
}

.navbar-form-submit{
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    width: 2.3rem;
    height: 2.3rem;
    position: relative;
    right: 2.5rem;
}

.navbar-form-submit-icon{
    width: 100%;
    height: 100%;
}