/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/menu-component/Menu.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.menu-section {
    margin-left: 1rem;
    border-radius: 20px;
    height: 30vh;
    background-color: blue;
  }
