@import url(./variables.css);

*{
  box-sizing: border-box;
}

body {
  font-family: 'Microsoft Sans-Serif', sans-serif;
  background-color: var(--blanco-mate);
  max-width: 100vw;
  overflow: auto;
}




