@import url(./variables.css);

*{
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Grande', sans-serif;
  background-color: var(--blanco-mate);
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}



